<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeDog</title>
</head>
<body>
    <h1>FreeDog</h1>
    <form action="" method="post">
        <input type="text" placeholder="user name" name="user" required="required">
        <br />
        <br />
        <input type="password" placeholder="password" name="password" required="required">
        <br />
        <br />
        <input type="submit" value="submit">
    </form>
    <script>
        if({login_failed}) {{
            var prompt = document.createElement('p');
            prompt.innerHTML = '<p style="color: red;">login failed.</p>';
            document.getElementsByTagName('body')[0].appendChild(prompt);
        }}
    </script>
</body>
</html>
